<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />

	<link href="/resource/css/loading.css" rel="stylesheet" />
	<link rel="shortcut icon" href="/resource/favicon.ico" type="image/x-icon" />
	<title><%= title %></title>
	<script src="/resource/geetest/gt_source.js"></script>
</head>

<body>
	<div id="app">
		<div class="app-loading">
			<div class="app-loading-wrap">
				<div class="app-loading-dots">
					<span class="dot dot-spin"><i></i><i></i><i></i><i></i></span>
				</div>
				<div class="app-loading-title"><%= title %></div>
			</div>
		</div>
	</div>
	<script type="module" src="/src/main.ts"></script>
</body>

</html>